<div class="card-header">
    <h3 style="font-weight: 100;">Profesorado de guardia en este tramo</h3>
</div>
<div class="card-body">

    <div class="row">
    <div class="col-lg-12">
        <div class="card">
            {% for tramo, profesores in profesores_guardia_info.items %}
                <div class="card-content ibox-tramo" id="ibox-tramo-{{ tramo }}">
                    <div class="row">
                        {% for profesor_guardia in profesores %}
                            <div class="col-lg-3">
                                <div class="card border-primary-subtle">
                                    <div class="p-4 card-content {% if profesor_guardia.es_guardia_convivencia %}bg-warning bg-gradient bg-opacity-50{% elif profesor_guardia.es_guardia_DACE %}bg-info bg-gradient bg-opacity-50{% endif %}">
                                        {% if profesor_guardia.es_guardia_convivencia %}
                                            <!-- Badge en la esquina superior derecha -->
                                            <span class="badge badge-label bg-danger position-absolute" style="top: -5px; right: -10px;">
                                                HORIZONTE
                                            </span>
                                        {% elif profesor_guardia.es_guardia_DACE %}
                                            <span class="badge badge-label bg-secondary position-absolute" style="top: -5px; right: -10px;">
                                                ACE
                                            </span>
                                        {% elif profesor_guardia.es_guardia_PG1 %}
                                            <span class="badge badge-label bg-secondary position-absolute" style="top: -5px; right: -10px;">
                                                PG 1
                                            </span>
                                        {% elif profesor_guardia.es_guardia_PG2 %}
                                            <span class="badge badge-label bg-secondary position-absolute" style="top: -5px; right: -10px;">
                                                PG 2
                                            </span>
                                        {% elif profesor_guardia.es_guardia_PG3 %}
                                            <span class="badge badge-label bg-secondary position-absolute" style="top: -5px; right: -10px;">
                                                PG 3
                                            </span>
                                        {% elif profesor_guardia.es_guardia_PG4 %}
                                            <span class="badge badge-label bg-secondary position-absolute" style="top: -5px; right: -10px;">
                                                PG 4
                                            </span>
                                        {% endif %}
                                        <h3 class="card-title"><strong>{{ profesor_guardia.nombre }}</strong></h3>
                                        <div class="mt-1">{{ profesor_guardia.materia }}</div>
                                        <h2 style="font-weight: 100">{{ profesor_guardia.tiempo }}</h2>
                                        <div class="progress progress-lg">
                                            <div style="width: {{ profesor_guardia.porcentaje }}%;"
                                                 class="progress-bar"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            {% endfor %}

            <div class="card-footer">
                <p>Los profesores de guardia están organizados de acuerdo con el número de guardias realizadas, de menor a mayor. Si hay empate en la cantidad de horas, se prioriza según la dificultad de las guardias (grupos conflictivos, entre otros). Ese dato es el que se muestra en la barra de progreso. El orden justo para asignar las próximas guardias es el que se muestra en este listado: El profesor que ocupa la primera posición debe ser asignado antes que los siguientes.</p>
            </div>

    </div>
</div>

</div>




